
/* @import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Baloo+Da+2:wght@500&display=swap');
 */

@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Open+Sans&display=swap');

* {
  /* font-family: 'Baloo 2', cursive; */
  font-family: 'Amaranth', sans-serif;
}

body {
  margin: 0;
}

* .open-sans {
  /* font-family: 'Baloo Da 2', cursive; */
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
}

div.side-nav {
  min-height: 80vh;
  margin: 1rem;
}
div.homepage {
  min-height: 80vh;
}

div.side-nav nav {
  /* border: 1px gray solid; */
  /* margin: 5px 0; */
  box-shadow: 0 0 2px;
  border-radius: 10px;
}

div.side-nav nav a {
  color: rgb(9, 9, 9);
}

div.side-nav nav a:hover {
  color: rgb(60, 60, 60);
  text-decoration: none;
}

div.dashboard-display {
  margin: 1rem;
  min-width: 80vw;
}


img.favicon {
  margin: auto;
  width: 15vw;
}

div.login-page {
  min-height: 80vh;
  background-color: #44a19f19;
}

div.login-card {
  width: 30vw;
  margin: 10vh auto;
  padding-top: 1rem;
}

footer.footer {
  background-color: #44A1A0;
  position: absolute;
}