
/* @import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Baloo+Da+2:wght@500&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Open+Sans&display=swap');


/* @import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Open+Sans&display=swap'); */

* {
  font-family: 'Baloo 2', cursive;
  /* font-family: 'Amaranth', sans-serif; */
}

body {
  margin: 0;
}

* .open-sans {
  /* font-family: 'Baloo Da 2', cursive; */
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
  visibility: hidden;
  display: none;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

div.side-nav {
  min-height: 80vh;
  margin: 1rem;
  min-width: 15vw;
}
div.homepage {
  min-height: 80vh;
}

div.homepage-container {
  min-height: 90vh;
}

img.homepage-small-img {
  width: 40vw;
  max-height: 30vw;
  object-fit: cover;
}

img.homepage-large-img {
  max-height: 25vw;
  object-fit: cover;
  object-position: bottom;
}

div.side-nav nav {
  /* border: 1px gray solid; */
  /* margin: 5px 0; */
  box-shadow: 0 0 2px;
  border-radius: 10px;
}

div.side-nav nav a {
  color: rgb(9, 9, 9);
}

div.side-nav nav a:hover {
  color: rgb(60, 60, 60);
  text-decoration: none;
}

div.dashboard-display {
  margin: 1rem;
  min-width: 80vw;
}

img.favicon {
  margin: auto;
  width: 15vw;
}

div.login-page {
  min-height: 80vh;
  background-color: #44a19f19;
}

div.login-card {
  width: 30vw;
  margin: 10vh auto;
  padding-top: 1rem;
}

h2.form-title {
  height: 6.5vh;
}

img.profile-image {
  width: 20rem;
  margin: auto;
  border-radius: 50%;
}

input.delete-button{
  width: 5rem;
}

footer.footer {
  margin-top: 20vh;
  background-color: #44A1A0;
  position: relative;
  /* height: 3rem; */
}

div.footer-logo{
  margin: auto;
}

footer.footer a {
  color: white;
  text-decoration: none;
}

footer.footer a:hover {
  color: rgb(230, 230, 230);
  text-decoration: none;
}